<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackfromdb">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@drawable/mom"
        android:label="Where is my kid? 부모앱"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="70bdexwaas" />

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Setting"
            android:label="거리변경설정">
        </activity>

        <activity
            android:name=".Access"
            android:label="권한확인">
        </activity>

    </application>

</manifest>